<!DOCTYPE html>

<html>
    <style type="text/css">
        body {
            font-family: calibri;
            width: 700px;
            margin: 30px auto 0 auto;
            
        }
        
        input#title {
            width: 700px;
        }

        textarea#content {
            width: 700px;
            height: 500px;
        }

        textarea#tags {
            width: 700px;
        }

    </style>

    <body>
        <div class="new-post">
            <form method="post">
                <label>
                    <div>Title</div>
                    <input id="title" name="title" value="{{post.title}}">
                </label>

                <label>
		    	    <div>Content</div>
			    	<textarea id="content" name="content">{{post.content}}</textarea>
                </label>

                <label>
                    <div> Tags </div>
                    <textarea id="tags" type="text" name="tags"></textarea>

                <div class="error">{{error}}</div>
                <div><input type="submit" value="Post"></div>
            </form>
        </div>
    </body>
</html>
